<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--主程序显示名-->
		<!--<add key="MainDisplayName" value="微信"/>-->
		<!--主程序全路径-->
		<!--<add key="MainExeFullName" value="D:/OD/OneDrive/Soft/MySoft/DBOP/DBOP.exe"/>-->
		<!--主程序启动参数-->
		<!--<add key="MainExeArgs" value=""/>-->
		
		<!--升级Json文件全路径-->
		<add key="UpgradeJsonFullName" value="d:/demo.json"/>

	</appSettings>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
